html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
}

.header,
.footer {
  flex: 0 0 auto;
}


.main {
  width: 100%;
  max-width: 64rem;
  padding: 2rem;
  background-color: #fff;
  margin: 0 auto;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
}
