.footer {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $second-background-color;
  color: $text-color;

  .social a {
    text-decoration: none;
    font-size: 3rem;
    color: $text-color;
  }
}
