.header {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
  background-color: $second-background-color;
  color: $text-color;
}

.site-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.site-header a {
  color: $text-color;
}

.nav a {
  font-size: 3rem;
  color: $text-color;
}

li a {
  text-decoration: none;
}


li a:hover {
  text-decoration: none;
  border-bottom: 5px solid $text-color;
  text-shadow: 1px 1px 3px $text-color;
}

.techo-h1 {
  font-size: 3rem;
}
