$main-background-color: #fdf8e1 ;
$second-background-color: #f9dc5c ;
$third-background-color: #fae588 ;
$fourth-background-color: #fcf1c0 ;
$fifth-background-color: #b8bedd ;

$text-color: #000;

$hover-color: #000;
