$main-background-color: #131316 ;
$second-background-color: #1c1c21 ;
$third-background-color: #26262c ;
$fourth-background-color: #26262c ;
$fifth-background-color: #0f0e06 ;

$text-color: #f9dc5c;

$hover-color: #dfdfdf;
