{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
    
        <div class="landing-page">
            {{ content }}

        </div>
        <iframe width="100%" height="500px" src="https://www.youtube.com/embed/uRUzWpnyBnE?si=biTSIq0aMM1K0ym6" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
